# Python
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# IDEs and editors
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# dotenv
.env

# macOS
.DS_Store
